@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600,700&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #666666;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 0.03em;
}
a {
   text-transform: uppercase;
   text-decoration: none;
   font-size: 15px;
   line-height: 23px;
   font-weight: 500;
   letter-spacing: 0.03em
}
p {
   font-size: 13px;
   line-height: 22px;
   font-weight: 400;
}
.padding-0 {
   padding: 0;
}
/* =========== Header =============== */
.header-wrapper {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 111;
   width: 100%;
}
.header-bar--top {
   position: relative;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: 30px 0;
}
.logo-wrap {
   position: relative;
   width: 100%;
   text-align: center;
}
.logo-wrap img {
   max-width: 189px;
}

/* =========== Home - Slideshow Wrapper =============== */
.hero-slideshow--wrapper {
   position: relative;
   width: 100%;
}
.hero-slideshow--wrapper .slideshow-details--wrap {
   position: relative;
   width: 100%;
}
.hero-slideshow--wrapper .slideshow-details--wrap .slideshow-image--wrap {
   position: relative;
   width: 100%;
}
.hero-slideshow--wrapper .slideshow-details--wrap .slideshow-image--wrap img {
   width: 100%;
}
.hero-slideshow--wrapper .slideshow-details--wrap .slideshow-image--wrap img {
   width: 100%;
}
.hero-slideshow--wrapper .slideshow-details--wrap .message-rounded--wrap {
   position: absolute;
   top: 39%;
   left: 48%;
   max-width: 535px;
   width: 100%;
   min-height: 337px;
   background: #cec5c3;
   box-shadow: 0px 1px 5px #c3b3b1;
   border-bottom-left-radius: 50%;
   border-top-right-radius: 50%;
   padding: 30px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
}
.hero-slideshow--wrapper .slideshow-details--wrap .message-rounded--wrap h1 {
   color: #6d0024;
   font-weight: 600;
   font-size: 32px;
   line-height: 43px;
}
.hero-slideshow--wrapper .slideshow-details--wrap .message-rounded--wrap h1  span {
   font-family: 'Dancing Script', cursive;
   font-size: 42px;
   line-height: 53px;
   letter-spacing: 0.05em;
   text-transform: none;
}
.hero-slideshow--wrapper .owl-carousel .owl-dots {
   position: relative;
   bottom: 49px;
}

/* =========== Home: Category UI One =============== */
.category-ui--one {
   position: relative;
   width: 100%;
   padding: 30px 0;
}
.category-ui--one .category-blocks--ui {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   width: 100%;
   margin-top: 30px;
}
.category-ui--one .category-blocks--ui .category-block--wrap {
   position: relative;
   width: 100%;
   margin-bottom: 30px;
}
.category-ui--one .category-blocks--ui .category-block--wrap.green-ui {
   background: url(../images/ui-pattern-grey.png);
   background-color: #ebfced;
   background-size: cover;
   background-repeat: no-repeat;
   border-top-left-radius: 50%;
   padding: 30px;
}
.category-ui--one .category-blocks--ui .category-block--wrap.green-ui .ecommerce-item--image img {
   max-width: 59%;
}
.category-ui--one .category-blocks--ui .category-block--wrap.peach-ui .ecommerce-item--image img {
   max-width: 100%;
}
.category-ui--one .category-blocks--ui .category-block--wrap.peach-ui {
   background-color: #f0e0e6;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 0 60px;
   min-height: 509px;
}
.category-ui--one .category-blocks--ui .category-block--wrap.peach-ui .ecommerce-item--details {
   -ms-flex-preferred-size: 75%;
   -webkit-flex-basis: 75%;
   flex-basis: 75%;
   padding: 10% 19% 10% 3%;
   background: #ffffff;
   border-top-left-radius: 50%;
   border-bottom-right-radius: 50%;
}
.category-ui--one .category-blocks--ui .category-block--wrap.peach-ui .ecommerce-item--image {
   position: absolute;
   bottom: 60px;
   right: 30px;

}
.category-ui--one .category-blocks--ui .category-block--wrap.peach-ui .ecommerce-item--buttons a {
   background-color: #f0e0e6;
   color: #cb1e54;
}
.category-ui--one .category-blocks--ui .category-block--wrap.peach-ui .ecommerce-item--buttons button {
   background-color: #f0e0e6;
   color: #cb1e54;
}
.category-ui--one .category-blocks--ui .category-block--wrap.peach-ui .ecommerce-item--name h3 {
   color: #cb1e54;
}
.category-ui--one .category-blocks--ui .category-block--wrap.blue-ui {
   background-color: #f0e0e6;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   border-bottom-left-radius: 50%;
   background: url(../images/ui-pattern-grey.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-color: #e5eefa;
   padding: 30px;
   height: 100%;
}
.category-ui--one .category-blocks--ui .category-block--wrap.blue-ui .ecommerce-item--details {
   -ms-flex-preferred-size: 50%;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   padding-top: 30px;
}
.category-ui--one .category-blocks--ui .category-block--wrap.blue-ui .ecommerce-item--image {
   -ms-flex-preferred-size: 50%;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   text-align: center;
   padding-top: 15em;
}
.category-ui--one .category-blocks--ui .category-block--wrap.blue-ui .ecommerce-item--image img {
   max-width: 75%;
}
.category-ui--one .category-blocks--ui .category-block--wrap.pink-ui {
   background-color: #f0e0e6;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   background: url(../images/ui-pattern-grey.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-color: #f8ecf1;
   padding: 30px;
   height: 100%;
}
.category-ui--one .category-blocks--ui .category-block--wrap.pink-ui .ecommerce-item--details {
   -ms-flex-preferred-size: 50%;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   padding-top: 30px;
}
.category-ui--one .category-blocks--ui .category-block--wrap.pink-ui .ecommerce-item--image {
   -ms-flex-preferred-size: 50%;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   text-align: center;
}
.category-ui--one .category-blocks--ui .category-block--wrap.pink-ui .ecommerce-item--image img {
   max-width: 75%;
}
.category-ui--one .category-blocks--ui .category-block--wrap.pink-ui .ecommerce-item--buttons a {
   background-color: #ffffff;
   color: #cb1e54;
}
.category-ui--one .category-blocks--ui .category-block--wrap.pink-ui .ecommerce-item--buttons button {
   background-color: #ffffff;
   color: #cb1e54;
}
.category-ui--one .category-blocks--ui .category-block--wrap.pink-ui .ecommerce-item--name h3 {
   color: #cb1e54;
}

/* =========== Home: Category UI Two =============== */
.category-ui--two {
   position: relative;
   width: 100%;
   padding: 30px 0;
}
.category-ui--two .category-blocks--ui {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   width: 100%;
   margin-top: 30px;
}
.category-ui--two .category-blocks--ui .category-block--wrap {
   position: relative;
   width: 100%;
   margin-bottom: 30px;
}
.category-ui--two .category-blocks--ui .category-block--wrap.green-ui {
   background: url(../images/ui-pattern-grey.png);
   background-color: #f0e0e6;
   background-size: cover;
   background-repeat: no-repeat;
   border-top-right-radius: 50%;
   padding: 30px;
}
.category-ui--two .category-blocks--ui .category-block--wrap.green-ui .ecommerce-item--details {
   width: 60%;
   padding-top: 25px;
}
.category-ui--two .category-blocks--ui .category-block--wrap.green-ui .ecommerce-item--image {
    position: relative;
    width: 100%;
    text-align: right;
}
.category-ui--two .category-blocks--ui .category-block--wrap.green-ui .ecommerce-item--image img {
   max-width: 59%;
}
.category-ui--two .category-blocks--ui .category-block--wrap.peach-ui .ecommerce-item--image img {
   max-width: 100%;
}
.category-ui--two .category-blocks--ui .category-block--wrap.peach-ui {
   background-color: #d2e8ec;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 0 60px;
   min-height: 509px;
}
.category-ui--two .category-blocks--ui .category-block--wrap.peach-ui .ecommerce-item--details {
   -ms-flex-preferred-size: 75%;
   -webkit-flex-basis: 75%;
   flex-basis: 75%;
   padding: 17% 38% 10% 3%;
   background: #ffffff;
   border-bottom-left-radius: 50%;
   border-top-right-radius: 50%;
}
.category-ui--two .category-blocks--ui .category-block--wrap.peach-ui .ecommerce-item--image {
   position: absolute;
   bottom: 40px;
   right: 40%;

}
.category-ui--two .category-blocks--ui .category-block--wrap.peach-ui .ecommerce-item--buttons a {
   background-color: #f0e0e6;
   color: #cb1e54;
}
.category-ui--two .category-blocks--ui .category-block--wrap.peach-ui .ecommerce-item--buttons button {
   background-color: #f0e0e6;
   color: #cb1e54;
}
.category-ui--two .category-blocks--ui .category-block--wrap.peach-ui .ecommerce-item--name h3 {
   color: #cb1e54;
}
.category-ui--two .category-blocks--ui .category-block--wrap.blue-ui {
   background-color: #f0e0e6;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   border-bottom-left-radius: 50%;
   background: url(../images/ui-pattern-grey.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-color: #e5eefa;
   padding: 30px;
   height: 100%;
}
.category-ui--two .category-blocks--ui .category-block--wrap.blue-ui .ecommerce-item--details {
   -ms-flex-preferred-size: 50%;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   padding-top: 30px;
}
.category-ui--two .category-blocks--ui .category-block--wrap.blue-ui .ecommerce-item--image {
   -ms-flex-preferred-size: 50%;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   text-align: center;
   padding-top: 10em;
}
.category-ui--two .category-blocks--ui .category-block--wrap.blue-ui .ecommerce-item--image img {
   max-width: 75%;
}
.category-ui--two .category-blocks--ui .category-block--wrap.pink-ui {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   background: url(../images/ui-pattern-grey.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-color: #efd6ea;
   padding: 30px;
   height: 100%;
}
.category-ui--two .category-blocks--ui .category-block--wrap.pink-ui .ecommerce-item--details {
   -ms-flex-preferred-size: 50%;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   padding: 30px 60px 30px 0px;
} 
.category-ui--two .category-blocks--ui .category-block--wrap.pink-ui .ecommerce-item--image {
   -ms-flex-preferred-size: 50%;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   text-align: center;
}
.category-ui--two .category-blocks--ui .category-block--wrap.pink-ui .ecommerce-item--image img {
   max-width: 75%;
}
.category-ui--two .category-blocks--ui .category-block--wrap.pink-ui .ecommerce-item--buttons a {
   background-color: #ffffff;
   color: #9a3f83;
}
.category-ui--two .category-blocks--ui .category-block--wrap.pink-ui .ecommerce-item--buttons button {
   background-color: #ffffff;
   color: #9a3f83;
}
.category-ui--two .category-blocks--ui .category-block--wrap.pink-ui .ecommerce-item--name h3 {
   color: #9a3f83;
}

/* ========== Component: Ecommerce Item Details =============== */
.ecommerce-item--details {
   position: relative;
   width: 100%;
   text-align: right;
   direction: rtl;
}
.ecommerce-item--name {
   color: #99ab3f;
   margin-bottom: 10px;
}
.ecommerce-item--name h3 {
   font-weight: 500;
   font-size: 24px;
}
.ecommerce-item--sku {
   color: #2e2e2e;
   margin-bottom: 10px;
}
.ecommerce-item--price { 
   position: relative;
   margin-bottom: 10px;
}
.ecommerce-item--price ul { 
   list-style: none;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: horizontal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   padding-inline-start: 0px;
}
.ecommerce-item--price li:nth-child(3) { 
   color: #238355;
   margin-right: 5px;
}
.ecommerce-item--price li:nth-child(2) { 
   color: #666666;
   text-decoration: line-through;
   margin-right: 5px;
}
.ecommerce-item--price li:nth-child(1) { 
   color: #ed1651;
}
.ecommerce-item--buttons {
   position: relative;
   margin-bottom: 10px;
   margin-top: 20px;
}
.ecommerce-item--buttons ul {
   list-style: none;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: horizontal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   padding-inline-start: 0px;
}
.ecommerce-item--buttons ul li:nth-child(1) {
    position: relative;
    bottom: 7px;
}
.ecommerce-item--buttons ul li:nth-child(2) {
   margin-right: 10px;
}
.ecommerce-item--buttons a {
   background: #ffffff;
   padding: 9px 15px;
   box-shadow: 1px 1px 3px #efefef;
   border-radius: 7px;
   color: #99ab3f;
   border: 0;
   font-size: 13px;
   margin: 0;
   text-decoration: none;
}
.ecommerce-item--buttons button {
   background: #ffffff;
   padding: 9px 15px;
   box-shadow: 1px 1px 3px #efefef;
   border-radius: 7px;
   color: #99ab3f;
   border: 0;
   font-size: 13px;
   text-transform: uppercase;
   margin: 0;
   font-weight: 500;
   letter-spacing: 0.03em;
   outline: none;
}
.ecommerce-item--rating {
   position: relative;
   margin-bottom: 10px;
   direction: rtl;
}
.ecommerce-item--rating .rate {
   position: relative;
   margin-bottom: 10px;
   direction: ltr;
}
.rate-base-layer {
   color: #aaa;
}
.rate-hover-layer {
   color: orange;
}

/* =========== Component: Title UI =============== */
.title-ui--wrap {
   position: relative;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: vertical;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
}
.title-ui--wrap .title-text--up {
   color: #666666;
}
.title-ui--wrap .title-text--up h4 {
   margin: 0;
}
.title-ui--wrap .title-text--middle h2 {
   font-size: 36px;
   line-height: 49px;
   margin: 10px 0;
   position: relative;
   font-weight: 500;
}
.title-ui--wrap .title-text--middle {
   color: #2e2e2e;
}
.title-ui--wrap .title-text--action a {
   color: #666666;
}
.title-ui--wrap .title-text--middle h2:before {
    content: "";
    background: #ed1651;
    height: 2px;
    width: 49px;
    left: 0;
    bottom: 0px;
    position: absolute;
}

/* ================ Store ================= */
.store-ui--wrapper {
   position: relative;
   width: 100%;
   padding: 30px 0;
}
.store-ui--wrapper .store-gallery--wrap {
   position: relative;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-top: 30px;
}
.store-ui--wrapper .store-gallery--wrap .store-video--ui {
   position: relative;
   width: 100%;
}
.store-ui--wrapper .store-gallery--wrap .store-video--ui img {
   width: 100%;
}
.store-ui--wrapper .store-gallery--wrap .store-gallery--ui {
   position: relative;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: vertical;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
}
.store-ui--wrapper .store-gallery--wrap .store-gallery--ui img {
   width: 100%;
}
.store-ui--wrapper .store-gallery--wrap .store-gallery--ui .gallery-image--one,
.store-ui--wrapper .store-gallery--wrap .store-gallery--ui .gallery-image--two {
   margin-bottom: 30px;
   max-height: 389px;
   overflow: hidden;
}

/* ================ Home: Business Verticals ================= */
.verticals-ui--wrapper {
   position: relative;
   width: 100%;
   padding: 30px 0;
}
.verticals-ui--wrapper .verticals-block--wrap {
   position: relative;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: horizontal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   margin-top: 30px;
}
.verticals-ui--wrapper .verticals-block--wrap .verticals-details--wrap {
   position: relative;
   width: 100%;
   background: url(../images/verticals-logo-bg.png);
   border-top-left-radius: 60%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 60px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: horizontal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   padding: 140px 100px;
}
.verticals-ui--wrapper .verticals-block--wrap .verticals-details--wrap .verticals-brand--wrap {
   position: relative;
   width: 189px;
   height: 189px;
   background-color: #eae4df;
   border: 7px solid #dad5ce;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: vertical;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   margin-bottom: 20px;
   margin-right: 20px;
}
.verticals-ui--wrapper .verticals-block--wrap .verticals-details--wrap .verticals-brand--wrap:nth-child(2),
.verticals-ui--wrapper .verticals-block--wrap .verticals-details--wrap .verticals-brand--wrap:nth-child(3) {
   border-bottom-right-radius: 60%;
   border-top-left-radius: 60%;
}
.verticals-ui--wrapper .verticals-block--wrap .verticals-details--wrap .verticals-brand--wrap:nth-child(1),
.verticals-ui--wrapper .verticals-block--wrap .verticals-details--wrap .verticals-brand--wrap:nth-child(4) {
   border-top-right-radius: 60%;
   border-bottom-left-radius: 60%;
}
.verticals-ui--wrapper .verticals-block--wrap .verticals-details--wrap .verticals-brand--wrap img {
   max-width: 119px;
   width: 100%;
}
.verticals-ui--wrapper .verticals-block--wrap .verticals-single--wrap {
   position: relative;
   background: url(../images/vaibhav-express-bg.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   padding: 60px;
}
.verticals-ui--wrapper .verticals-block--wrap .verticals-single--wrap .verticals-single--logo {
   position: relative;
   width: 289px;
   height: 289px;
   background-color: #fce1d8;
   border: 7px solid #fce1d8;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: vertical;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   margin: 0 auto;
   border-bottom-right-radius: 60%;
   border-top-left-radius: 60%;
}
.verticals-ui--wrapper .verticals-block--wrap .verticals-single--wrap .verticals-single--logo img {
   max-width: 189px;
}
.verticals-ui--wrapper .verticals-block--wrap .verticals-single--wrap .verticals-single--features {
   position: relative;
   width: 100%;
   text-align: center;
}
.verticals-ui--wrapper .verticals-block--wrap .verticals-single--wrap .verticals-single--features ul {
   list-style: none;
   padding: 30px 60px;
}
.verticals-ui--wrapper .verticals-block--wrap .verticals-single--wrap .verticals-single--features li {
   margin-bottom: 15px;
   text-align: left;
}
.verticals-ui--wrapper .verticals-block--wrap .verticals-single--wrap .verticals-single--features li:before {
   content: "";
   position: absolute;
   background: #fae1d8;
   height: 24px;
   width: 24px;
   border-bottom-left-radius: 60%;
   border-top-right-radius: 60%;
   left: 18px;
}
.verticals-ui--wrapper .verticals-block--wrap .verticals-single--wrap .verticals-single--features a {
   background: #ed1651;
   padding: 13px 24px;
   box-shadow: 1px 1px 3px #efefef;
   border-radius: 7px;
   color: #ffffff;
   border: 0;
   font-size: 13px;
   margin: 0;
   text-decoration: none;
}

/* ================ Home: Thumbnail UI ================= */
.thumbnails-ui--wrapper {
   position: relative;
   width: 100%;
   padding: 30px 0;
}
.thumbnails-ui--wrapper .thumbnail-block--wrap {
   position: relative;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: horizontal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-top: 30px;
}
.thumbnails-ui--wrapper .thumbnail-block--wrap .thumbnail-slider--one {
   position: relative;
   width: 100%;
   background: url(../images/ui-pattern-grey.png);
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
}
.thumbnails-ui--wrapper .thumbnail-block--wrap .thumbnail-slider--one .partners-slider--one .item {
   position: relative;
   width: 100%;
   text-align: center;
}
.thumbnails-ui--wrapper .thumbnail-block--wrap .thumbnail-slider--one .partners-slider--one .item img {
   max-width: 189px;
   margin: 0 auto;
}
.thumbnails-ui--wrapper .thumbnail-block--wrap .thumbnail-slider--two {
   position: relative;
   width: 100%;
   background: url(../images/ui-pattern-grey.png);
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
}
.thumbnails-ui--wrapper .thumbnail-block--wrap .thumbnail-slider--two .partners-slider--two .item {
   position: relative;
   width: 100%;
   text-align: center;
}
.thumbnails-ui--wrapper .thumbnail-block--wrap .thumbnail-slider--two .partners-slider--two .item img {
   max-width: 189px;
   margin: 0 auto;
}
.thumbnails-ui--wrapper .thumbnail-block--wrap .thumbnail-brand--ui {
   position: relative;
   width: 100%;
   text-align: center;
}
.thumbnail-brand--logo {
   position: relative;
   width: 100%;
   max-width: 300px;
   height: 300px;
   background-color: #ffffff;
   text-align: center;
   box-shadow: 0px 5px 17px #efefef;
   border-bottom-left-radius: 60%;
   border-top-right-radius: 60%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: vertical;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   margin: 0 auto;
}

/* ================ Home: Follow UI ================= */
.follow-ui--wrapper {
   position: relative;
   width: 100%;
   padding: 60px 0;
   background-color: #fff6f6;
}
.follow-ui--wrapper .follow-images--wrap {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: horizontal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-top: 30px;
}
.follow-ui--wrapper .title-ui--wrap .title-text--up h4 {
    margin: 0;
    font-size: 18px;
}
.follow-ui--wrapper .follow-images--wrap .follow-image--block {
   -ms-flex-preferred-size: 20%;
   -webkit-flex-basis: 20%;
   flex-basis: 20%;
   padding: 5px;
}
.follow-ui--wrapper .follow-images--wrap .follow-image--block img {
   width: 100%;
}
/* ================ Footer Wrapper ================= */
.footer-wrapper {
   position: relative;
   width: 100%;
   padding: 30px 0 60px 0;
   background-color: #1d1d21;
}
.footer-wrapper .footer-grid--wrap {
   position: relative;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: horizontal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}
.footer-title--wrap {
   position: relative;
   width: 100%;
}
.footer-title--wrap {
   color: #ffffff;
}
.footer-title--wrap h3 {
   font-size: 18px;
   line-height: 33px;
   margin: 30px 0 45px 0;
   position: relative;
   font-weight: 500;
   color: #ffffff;
}
.footer-title--wrap h3:before {
    content: "";
    background: #ed1651;
    height: 2px;
    width: 49px;
    left: 0;
    bottom: -5px;
    position: absolute;
}
.footer-wrapper .footer-grid--wrap .footer-about--wrap {
   position: relative;
   width: 100%;
}
.footer-wrapper .footer-grid--wrap .footer-about--wrap p {
   color: #efefef;
}
.footer-wrapper .footer-subscribe--wrap {
   position: relative;
   width: 100%;
}
.footer-wrapper .footer-subscribe--wrap input[type="email"] {
   width: 100%;
   background-color: transparent;
   border: 1px solid #efefef;
   font-size: 13px;
   padding: 11px 15px;
   margin-bottom: 15px;
}
.footer-wrapper .footer-subscribe--wrap input[type="submit"] {
   background: #ed1651;
   padding: 13px 24px;
   box-shadow: 1px 1px 3px #efefef;
   border-radius: 7px;
   color: #ffffff;
   border: 0;
   font-size: 13px;
   margin: 0;
   text-decoration: none;
   text-transform: uppercase;
   box-shadow: none;
}
.footer-wrapper .footer-links--wrap {
   position: relative;
   width: 100%;
}
.footer-wrapper .footer-links--wrap ul {
   list-style: none;
   margin-left: -40px;
}
.footer-wrapper .footer-links--wrap ul li {
   margin-bottom: 10px;
}
.footer-wrapper .footer-links--wrap ul li a {
   color: #ffffff;
   text-decoration: none;
   font-weight: 400;
   text-transform: none;
   font-size: 13px;
}
.footer-wrapper .footer-social--wrap {
   position: relative;
   width: 100%;
}
.footer-wrapper .footer-social--wrap ul {
   list-style: none;
   margin-left: -40px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: horizontal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}
.footer-wrapper .footer-social--wrap ul li {
   margin-right: 10px;
}
.footer-wrapper .footer-social--wrap ul li a {
   color: #ffffff;
   display: inline-block;
   height: 32px;
   width: 32px;
   border: 2px solid #ed1651;
   border-radius: 100%;
   text-align: center;
   line-height: 27px;
}

/* ================ Responsive ================= */
@media only screen and (min-width: 0px) { 
   .hero-slideshow--wrapper .slideshow-details--wrap .slideshow-image--wrap .slide-on--desktop {
      display: none;
   }
   .hero-slideshow--wrapper .slideshow-details--wrap .slideshow-image--wrap .slide-on--mobile {
      display: block;
   }
   .hero-slideshow--wrapper .slideshow-details--wrap .message-rounded--wrap {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      width: 100%;
      min-height: 270px;
      background: transparent;
      box-shadow: none;
      padding: 30px;
   }
   .hero-slideshow--wrapper .slideshow-details--wrap .message-rounded--wrap h1 {
      font-size: 21px;
      line-height: 30px;
   }
   .hero-slideshow--wrapper .slideshow-details--wrap .message-rounded--wrap h1  span {
      font-size: 32px;
      line-height: 33px;
   }

}
@media only screen and (min-width: 992px) { 
   .hero-slideshow--wrapper .slideshow-details--wrap .slideshow-image--wrap .slide-on--desktop {
      display: block;
   }
   .hero-slideshow--wrapper .slideshow-details--wrap .slideshow-image--wrap .slide-on--mobile {
      display: none;
   }
   .hero-slideshow--wrapper .slideshow-details--wrap .message-rounded--wrap {
      position: absolute;
      top: 39%;
      left: 48%;
      max-width: 600px;
      width: 100%;
      min-height: 359px;
      background: #cec5c3;
      box-shadow: 0px 1px 5px #c3b3b1;
      border-bottom-left-radius: 50%;
      border-top-right-radius: 50%;
      padding: 30px;
   }
   .hero-slideshow--wrapper .slideshow-details--wrap .message-rounded--wrap h1 {
      font-size: 32px;
      line-height: 43px;
   }
   .hero-slideshow--wrapper .slideshow-details--wrap .message-rounded--wrap h1  span {
      font-size: 42px;
      line-height: 53px;
   }
}